.Container {
    display: flex;
    justify-content: space-around;
    -webkit-box-shadow: 0px 17px 7px -2px rgba(235,226,235,1);
    -moz-box-shadow: 0px 17px 7px -2px rgba(235,226,235,1);
    box-shadow: 0px 17px 7px -2px rgba(235,226,235,1);
    color: rgb(0, 0, 0);
    width: auto;
    height: auto;

    .Image {
        display: flex;
        width: 50px;
        height: 50px;
        padding: 10px;
    position: relative;
margin-right: 70%;

    }
    .Contact {
        display: flex;
        gap: 50px;
        margin-left: 10%;
    .Contacts{
        display: flex;
        flex-direction: column;
        justify-content: center;

        .ContactIcon{
            display: flex;
            align-items: center;
            .icon{
            color: #2c73d2;

            }
        }

    }
}
}